body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-content{
    display: flex;
    padding: 2%;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
}
section .half-width img{
    width: 85%;
}
.link-btn{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 100px;
}
.bg-section{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.p-right{
    padding-right: 90px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 35px;
    border-radius: 10px;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: #000000c7;
}